Node_RED/Мониторинг освещенности.json
[
    {
        "id": "054c8f50d58e8b50",
        "type": "tab",
        "label": "Мониторинг освещенности BH1750",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e4b22d1d59827805",
        "type": "mqtt in",
        "z": "054c8f50d58e8b50",
        "name": "Подписка на освещенность",
        "topic": "sensors/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "223d6b3c599ef39b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "3a29d09d2a1c49c1"
            ]
        ]
    },
    {
        "id": "3a29d09d2a1c49c1",
        "type": "function",
        "z": "054c8f50d58e8b50",
        "name": "Обработка данных",
        "func": "// Проверяем и преобразуем входные данные\nif (isNaN(parseFloat(msg.payload))) {\n    node.warn(\"Получено некорректное значение освещенности: \" + msg.payload);\n    return null;\n}\n\nvar value = parseFloat(msg.payload);\nvar now = new Date();\n\n// 1. Сообщение для индикатора (gauge)\nvar msgGauge = {\n    payload: value,\n    topic: \"Освещенность\"\n};\n\n// 2. Сообщение для графика (chart) - ОСОБОЕ ВНИМАНИЕ!\nvar msgChart = {\n    topic: \"Освещенность\",\n    payload: value,\n    timestamp: now\n};\n\n// 3. Сообщение для текстового отображения\nvar msgText = {\n    payload: {\n        value: value.toFixed(2),\n        unit: \"lx\",\n        timestamp: now.toLocaleString()\n    }\n};\n\n// 4. Управление светодиодом\nvar ledControl = {\n    topic: \"light/control\",\n    payload: value < 100 ? \"ON\" : \"OFF\"\n};\n\n// 5. Статус светодиода\nvar ledStatus = {\n    payload: {\n        value: value < 100 ? \"ВКЛЮЧЕН\" : \"ВЫКЛЮЧЕН\",\n        color: value < 100 ? \"#00FF00\" : \"#FF0000\"\n    }\n};\n\n// 6. Управление дисплеем\nvar displayControl = {\n    topic: \"display/control\",\n    payload: value < 300 ? \"NIGHT\" : \"DAY\"\n};\n\n// 7. Статус дисплея\nvar displayStatus = {\n    payload: {\n        value: value < 300 ? \"НОЧНОЙ РЕЖИМ\" : \"ДНЕВНОЙ РЕЖИМ\",\n        color: value < 300 ? \"#000080\" : \"#87CEEB\"\n    }\n};\n\nreturn [msgGauge, msgChart, msgText, ledControl, displayControl, ledStatus, displayStatus];",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 200,
        "wires": [
            [
                "a26c573ebba29f86"
            ],
            [
                "bc0b7f280d5a065f"
            ],
            [
                "9048c493d7ab0b44"
            ],
            [
                "527dbbc9366e47d0"
            ],
            [
                "f5cd3c181bf7a967"
            ],
            [
                "4286309be8140bd8"
            ],
            [
                "896786f017413cf6"
            ]
        ]
    },
    {
        "id": "a26c573ebba29f86",
        "type": "ui_gauge",
        "z": "054c8f50d58e8b50",
        "name": "Индикатор",
        "group": "0ba80289f87b28c5",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Текущая освещенность",
        "label": "lx",
        "format": "{{value}}",
        "min": 0,
        "max": 1000,
        "colors": [
            "#9400D3",
            "#87CEEB",
            "#FF4500"
        ],
        "seg1": "300",
        "seg2": "800",
        "x": 770,
        "y": 40,
        "wires": []
    },
    {
        "id": "bc0b7f280d5a065f",
        "type": "ui_chart",
        "z": "054c8f50d58e8b50",
        "name": "График освещенности",
        "group": "0ba80289f87b28c5",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Изменение освещенности",
        "chartType": "line",
        "legend": false,
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": 0,
        "ymax": "1000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#3f51b5"
        ],
        "outputs": 0,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "9048c493d7ab0b44",
        "type": "ui_text",
        "z": "054c8f50d58e8b50",
        "group": "0ba80289f87b28c5",
        "order": 3,
        "width": "4",
        "height": "3",
        "name": "Текстовое значение",
        "label": "Текущие показания",
        "format": "<div style='text-align: center; padding: 10px;'>  <h2 style='margin: 0;'>{{payload.value}} <small>{{payload.unit}}</small></h2>  <p style='margin: 5px 0 0; font-size: 0.8em;'>{{payload.timestamp}}</p></div>",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "16",
        "color": "#ceb8a1",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "527dbbc9366e47d0",
        "type": "mqtt out",
        "z": "054c8f50d58e8b50",
        "name": "Управление светодиодом",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "223d6b3c599ef39b",
        "x": 820,
        "y": 180,
        "wires": []
    },
    {
        "id": "f5cd3c181bf7a967",
        "type": "mqtt out",
        "z": "054c8f50d58e8b50",
        "name": "Управление дисплеем",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "223d6b3c599ef39b",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "4286309be8140bd8",
        "type": "ui_text",
        "z": "054c8f50d58e8b50",
        "group": "0ba80289f87b28c5",
        "order": 4,
        "width": "4",
        "height": "3",
        "name": "Статус светодиода",
        "label": "Состояние светодиода",
        "format": "<div style='text-align: center; padding: 10px; background-color: {{payload.color}}40; border-radius: 5px;'>  <h3 style='margin: 0; color: {{payload.color}};'>{{payload.value}}</h3></div>",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "896786f017413cf6",
        "type": "ui_text",
        "z": "054c8f50d58e8b50",
        "group": "0ba80289f87b28c5",
        "order": 5,
        "width": "4",
        "height": "3",
        "name": "Статус дисплея",
        "label": "Режим дисплея",
        "format": "<div style='text-align: center; padding: 10px; background-color: {{payload.color}}40; border-radius: 5px;'>  <h3 style='margin: 0; color: {{payload.color}};'>{{payload.value}}</h3></div>",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "d3777a07162ba118",
        "type": "comment",
        "z": "054c8f50d58e8b50",
        "name": "Мониторинг освещенности с BH1750",
        "info": "Данные с датчика освещенности BH1750 на ESP32 через MQTT",
        "x": 250,
        "y": 160,
        "wires": []
    },
    {
        "id": "223d6b3c599ef39b",
        "type": "mqtt-broker",
        "name": "Moth",
        "broker": "192.168.31.110",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "test/topic",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "Подключено",
        "birthMsg": {},
        "closeTopic": "test/topic",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "Отключено",
        "closeMsg": {},
        "willTopic": "test/topic",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0ba80289f87b28c5",
        "type": "ui_group",
        "name": "Освещенность",
        "tab": "3368ed176d30d495",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3368ed176d30d495",
        "type": "ui_tab",
        "name": "Освещенность",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]